{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ex sint cupiditate consequatur perferendis, magni ullam nesciunt voluptatibus rem in optio voluptas incidunt dicta omnis, modi dolor sapiente ipsum ipsam commodi tempore quae. 
        Saepe beatae accusantium illo consectetur doloremque cupiditate illum ab iste cumque sed eligendi esse atque qui, reprehenderit aut harum dolores vitae facere, nihil temporibus aperiam in quo est. Quas ab natus ipsam consequatur. 
        In similique nam facilis eos veritatis nostrum aliquam officia quia dolorem neque libero suscipit nihil voluptatem expedita inventore, illum minima eligendi beatae exercitationem ipsam placeat rem excepturi enim laboriosam! Pariatur harum eius alias rem necessitatibus.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}
